<!-- your html code here -->

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>


    <div class="album py-5 bg-light">
        <div class="container" style="padding-left: 2;">
            <h1>Portfolio</h1>
            <p>Donec ullamcorper nulla non metus auctor fringila. Vestibulum id ligula porta felis euismod semper.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                commodo.</p>
        </div>

        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <img class="card-img-top" src="https://media.giphy.com/media/s4AxMEKhn5AfC/giphy.gif"
                        alt="Card image cap">
                    <div class="card-body">
                        <h2 class="text-primary">Project Name</h2>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img class="card-img-top"
                        src="https://lh3.googleusercontent.com/proxy/dL2-ivAkXAK5UpnAfyaikvOS6jda6PpumwY1cfRQZKLnjyQzAGD_Ybcu_gFSfdHm1bcZBHuMjkQ-2iS81JtvU1eKUy1IqJ1jy5T3xNQYR1ZiBfmLwHxOH88"
                        alt="Card image cap">
                    <div class="card-body">
                        <h2 class="text-primary">Project Name</h2>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img class="card-img-top" style="height: 52%;"
                        src="https://media.makeameme.org/created/git-init-git.jpg" 
                        alt="Card image cap">
                    <div class="card-body">
                        <h2 class="text-primary">Project Name</h2>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </p>
                    </div>
                </div>
            </div>


            <!-- Option 1: Bootstrap Bundle with Popper -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
                crossorigin="anonymous"></script>


</body>

</html>